* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  text-align: center;
  padding: 2rem 0;
  background-color: cadetblue;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

#container {
  display: grid;
  grid-template-columns: 20rem 84rem;
  grid-gap: 2rem;
  justify-content: center;
}

#sideBar {
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 1rem;
}

#categories {
  margin: 0.5rem 1rem 1rem;
}
.category-link {
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.category-link:hover {
  text-decoration: underline;
  color: cadetblue;
}
.active {
  color: cadetblue;
  text-decoration: underline;
}
.category-link-main {
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.category-link-main:hover {
  text-decoration: underline;
  color: cadetblue;
}
#searchCat {
  margin-bottom: 1rem;
}
#searchPrx {
  margin-bottom: 1rem;
}

#productsList {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  justify-content: center;
  gap: 1rem;
}

.product {
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 1rem;
}

.product img {
  object-fit: cover;
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
}

.product h2 {
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0.5rem;
}
.product h2:hover {
  text-decoration: underline;
  color: cadetblue;
}

.product-info {
  display: flex;
  justify-content: space-between;
}
.product-cat {
  display: flex;
  justify-content: flex-start;
}
.product-cat a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}
.product-cat a:hover {
  color: cadetblue;
  text-decoration: underline;
}
.product-att a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}
.product-att a:hover {
  color: cadetblue;
  text-decoration: underline;
}

#productTable {
  border-collapse: collapse;
  margin: auto;
  border: 2px solid cadetblue;
  padding: 1rem;
}
th, td {
  border: 2px solid cadetblue;
  padding: 1rem;
}